<%= link_to site_path(site) do %>
  <div class="info-window-card">
    <div class="info-window-img-top">
      <% if site.picture %>
        <%= image_tag site.picture, class:"info-window-img-top" %>
      <% else %>
        <%= image_tag "placeholder-museum-min.png", alt: "alttext", class:"info-window-img-top" %>
      <% end %>
    </div>
    <div class="info-window-title">
        <p><%= site.name %></p>
    </div>
    <div class="info-window-body">
      <div>
        <p><i class="fas fa-map-marker-alt pr-1"></i><%= site.address %>
          <br>
          Collection permanente
        </p>
      </div>
      <div class="info-window-link">
        <i class="far fa-heart favorite-icon-index"></i>
      </div>
    </div>
  </div>
<% end %>
