<div class="info-window-card">
  <div class="info-window-img-top">
    <% if site.picture == "dd" %>
      <%= image_tag site.picture, class:"info-window-img-top" %>
    <% else %>
      <%= image_tag "placeholder-museum.jpg", alt: "alttext", class:"info-window-img-top" %>
    <% end %>
    <!-- <p><%#= exhibition.category %></p> -->
  </div>
  <div class="info-window-title">
      <p><%= site.name %></p>
  </div>
  <div class="info-window-body">
    <div>
      <p><i class="fas fa-map-marker-alt pr-1"></i><%= site.address %>
        <br>
        Collection permanente
      </p>
    </div>
    <div class="info-window-link">
      <i class="far fa-heart favorite-icon"></i>
      <%= link_to site_path(site) do %>
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </div>
  </div>
</div>
