<div class="description-show-exhibition">
  <%= image_tag @exhibition.photo, alt: @exhibition.description, class: "img-exhibition-description" %>
  <%= link_to :back do %>
    <p class= "arrow-back-link"><i class="fas fa-arrow-circle-left"></i></p>
  <% end %>
  <p class= "<%= @exhibition.category %> show-category-tag" ><%= @exhibition.category%></p>
</div>

<div class="container show-description-container">
  <h4>  <%= @exhibition.title %> </h4>
  <div class="favorite-icon-show">
    <% if @favorite.user == current_user %>
      <%= link_to favorite_path(exhibition_id: @exhibition.id) do %>
      <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to favorite_path(exhibition_id: @exhibition.id) do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="museum-description-box">
    <% if @exhibition.site.picture %>
        <%= image_tag @exhibition.site.picture, class:"museum-picture-description" %>
      <% else %>
        <%= image_tag "placeholder-museum.jpg", alt: "alttext", class:"museum-picture-description" %>
      <% end %>
    <div>
      <p> <%= @exhibition.place %> </p>
      <p id="adress-grey-museum"> <%= @exhibition.address %> </p>
    </div>
  </div>

  <div class="description-exhibition-show">
    <p><strong>Description :</strong>
    <br>
    <%= @exhibition.description %></p>
  </div>

  <div class="exhibition-price-show">
    <i class="fas fa-ticket-alt"></i>
    <div>
      <p> <%= @exhibition.price/100 %> € </p>
    </div>
  </div>


  <div class="buttons-show-exhibition">
    <%= link_to "Réserver", new_exhibition_booking_path(@exhibition), class:"btn-res-museum-around" %>
  </div>
</div>


<div class="container review-card-show">
  <div>
    <h5 class="review-title p-1 text-center">Avis</h5>
  </div>
  <div class="px-4 white-background-show">
    <p>Vous avez aimé ? Faites-le nous savoir !</p>
    <%= simple_form_for [ @exhibition, @review ] do |f| %>
      <%= f.input :rating, collection: (1..5).to_a, label: false %>
      <%= f.input :comment, label: false %>
      <%= f.submit "Valider", class: "btn-museum-around btn-avis" %>
    <% end %>
  </div>
  <div>
    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    <ul class="list-group">
      <% @exhibition.reviews.each do |review| %>
        <li class="list-group-item posted-reviews-show">
        <% review.rating.to_i.times do  %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5-review.rating.to_i).times do  %>
          <i class="far fa-star"></i>
        <% end %>
         <strong><%= review.user.first_name %> <%= review.user.last_name %>.</strong> - <%= review.comment %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

