

<div class= "navbar-down-screen border-top py-2">

  <%= link_to root_path do %>
    <i class="fas fa-home <%= current_page?(root_path) ? "" : "icon-not-active"  %>"></i>
  <% end %>

  <%= link_to exhibitions_path do %>
    <i class="fas fa-search-location <%= current_page?(exhibitions_path) ? "" : "icon-not-active" %>"></i>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to user_favorites_path(current_user) do %>
      <i class="far fa-heart"></i>
    <% end %>
  <% end %>
  <% if user_signed_in? && current_user.photo.attached? %>
    <%= link_to dashboard_path(current_user) do %>
      <div class= "profile-pic <%= current_page?(dashboard_path(current_user)) ? "" : "icon-not-active"  %>">
        <%= cl_image_tag current_user.photo.key, crop:'crop' %>
      </div>
    <% end %>
  <% else %>
    <%= link_to dashboard_path(current_user) do %>
      <div class="icon-user <%= current_page?(dashboard_path(current_user)) ? "" : "icon-not-active" %>">
        <i class="far fa-user-circle"></i>
      </div>
    <% end %>
  <% end %>
</div>

<!-- gravity:'face', crop:'crop' -->
