<!-- Modal -->
<!-- <div class="banner-home-page"> -->
  <div class="modal fade" id="ticketModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

       <!--  <div class="modal-header py-2">
          <h6 class="modal-title" id="exampleModalLongTitle">Filtrer</h6> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      <!--   </div> -->
        <div class="modal-body ticket-confirm">
          <div class="banner-top expo-reservation">
            <%= image_tag("logo-museum-around-darker.png", class: "logo-img") %>
            <h2>Votre réservation pour l'exposition:</h2>
            <hr>
          </div>
          <div class="nom-expo-dash">
            <strong> <%= @booking.exhibition.title%> </strong>
            <hr>
          </div>
          <div class="date-heure-expo-dash">
          Le <strong> <%= @booking.date.strftime('%d/%m/%Y')%> </strong>à <strong> <%= @booking.time.strftime('%H:%M') %> </strong>
          <hr>
          </div>
          <div class="address-exhibit-dash">
          <strong> <%= @booking.exhibition.place %> </strong>
            <br>
          </div>
          <strong> <%= @booking.exhibition.address%> </strong>
          <%= image_tag("QRcode-utile.png", class: "logo-img") %>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
