<div class="banner-dashboard">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, class:"profile-pic-dashboard" %>
  <% else %>
    <i class="far fa-user profile-pic-dashboard"></i>
  <% end %>
  <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn btn-logout" %>
  <dir class= "welcome-message-banner">
    <div class="introduction">
      <h2>Hello, <%= current_user.first_name %></h2>
      <p>Bienvenue sur ton profil</p>
    </div>
  </dir>
</div>




<!-- width => 90, :height => 90, :crop => :thumb, :gravity => :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false -->

<div class="container">

  <ul class="tabs">
    <li data-tab-target="#bookings-content" class="active tab">Réservations</li>
    <li data-tab-target="#last-chance-content" class="tab">Dernière chance</li>
    <li data-tab-target="#recommandations-content" class="tab">Suggestions</li>
  </ul>


  <div class="class-content">
    <div id="bookings-content" data-tab-content class="active">
      <p class="header-tab">Tes visites à venir</p>
      <% i = 0 %>
        <% @bookings_futur.each do |booking| %>
        <% @booking = booking %>
        <div class="notification-group">
          <div class="notification">
            <img src= "<%= booking.exhibition.photo %>" class="avatar-large" />
            <div class="notification-content">
              <p><small>Réservation</small></p>
              <p><strong> <%= booking.exhibition.title %></strong></p>
              <p id="museum-description"><%= booking.exhibition.site.name %></p>
            </div>
            <div>
              <!-- <button type="button" id ='ticket-button' data-toggle="modal" data-target="#ticket-modal">
                Ticket
              </button> -->
              <button type="button" class="btn btn-infos-fav" data-toggle="modal" data-target="#ticketModal<%= i %>">
                Ticket
              </button>
            </div>
          </div>
        </div>
<%=render 'shared/ticket-modal', i:i %>
        <% i += 1 %>
      <% end %>

      <p class="header-tab">Tes visites passées</p>

      <% @bookings_passed.each do |booking| %>
        <%= link_to exhibition_path(booking.exhibition.id) do %>
          <div class="notification-group">
            <div class="notification">
              <img src= "<%= booking.exhibition.photo %>" class="avatar-large" />
              <div class="notification-content">
                <p><small>Réservations</small></p>
                <p><strong> <%= booking.exhibition.title %></strong></p>
                <p id="museum-description"><%= booking.exhibition.site.name %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>




    <div id="last-chance-content" data-tab-content>
      <p class="header-tab"></p>
      <p><%= current_user.first_name %>, ces expositions arrivent bientôt à leur terme ! Dépêche-toi :</p>

      <div class="block-notifications">
        <% @last_chance_exhibitions.each do |exhibition| %>
          <%= link_to exhibition_path(exhibition.id) do %>
            <div class="notification-group">
              <div class="notification">
                <img src= "<%= exhibition.photo %>" class="avatar-large" />
                <div class="notification-content">
                  <p><small>Jusqu'au <%= exhibition.ending_date %></small></p>
                  <p><strong> <%= exhibition.title %></strong></p>
                  <p id="museum-description"><%= exhibition.site.name %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>



    <div id="recommandations-content" data-tab-content>
      <p class="header-tab"></p>
      <p>Ces expositions sont susceptibles de t'intéresser, jettes-y un coup d'oeil :</p>

      <div class="block-recommandations">
        <% @suggested_exhibitions.each do |exhibition| %>
          <%= link_to exhibition_path(exhibition.id) do %>
            <div class="card-product">
              <img src="<%= exhibition.photo %>" />
              <div class="card-product-infos">
                <h2><%= exhibition.title %></h2>
                <p> <%= exhibition.description %> </p>
              </div>
            </div>
          <% end %>
       <% end %>
      </div>
    </div>
  </div>
</div>


